<div class="addAccountContainer">
	<h2 class="addAccountTitle"> Add Account </h2><br />
	<form id="addAccountForm" class="addAccountForm">
		<input type="text" class="firstNameInput add_input" placeholder="First Name" ng-model="user.first_name"><br />
		<input type="text" class="lastNameInput add_input" placeholder="Last Name" ng-model="user.last_name"><br />
		<input type="email" class="emailInput add_input" placeholder="Email" ng-model="user.email"><br />
		<input type="password" class="passwordInput add_input" placeholder="Password" ng-model="user.username"><br />
		<input type="text" class="usernameInput add_input" placeholder="Username" ng-model="user.username"><br />
		<input type="text" class="locationInput add_input" placeholder="Location (city, state)" ng-model="user.location"><br />
		<input type="submit" class="addAccountSubmit">
	</form>
</div>
