<div class="liveTourneyView">
  <div class="liveHeader">
    <div class="addPlayerContainer" ng-hide="vm.players.length >= vm.tourney.size">
      <form class="addPlayerForm" ng-submit="vm.addPlayer(player, vm.tourney)">
        <p class="playerInputText">Add Player</p>
        <p class="playerInputText">Full Name:</p>
        <input type="text" ng-model="player.fullname">
        <p class="playerInputText">Nickname:</p>
        <input type="text" ng-model="player.nickname">
        <input type="submit">
      </form>
    </div>
    <div class="playerListContainer">
      <p class="player" >Players:</p>
      <div class="playersListBox" ng-repeat="player in vm.players">
        <p class="player">
          {{player.nickname}}
        </p>
      </div>
    </div>
    <div class="startButton" ng-show="vm.players.length >= vm.tourney.size">
     <button class="start-game" ng-click="vm.seedBracket()">Start</button>
    </div>
  </div>

  <div class="bracketOfEight" ng-show="vm.tourney.size == 8">
    <div class="sideOne">
      <div class="matchOne">

      </div>
      <span class="playerOne">{{ vm.tourney.matches[0].player1.nickname }}</span>
      <span class="playerTwo">{{ vm.tourney.matches[0].player2.nickname }}</span>
      <div class="matchTwo">

      </div>
      <span class="playerThree">{{ vm.tourney.matches[1].player1.nickname }}</span>
      <span class="playerFour">{{ vm.tourney.matches[1].player2.nickname }}</span>
      <div class="matchThree">

      </div>
      <span class="matchOneWinner">{{ vm.tourney.matches[4].player1.nickname }}</span>
      <span class="matchTwoWinner">{{ vm.tourney.matches[4].player2.nickname }}</span>
      <div class="sideWinner">

      </div>
      <span class="matchThreeWinner">{{ vm.tourney.matches[6].player1.nickname }}</span>
    </div>
    <div class="winner">
      <div class="tourneyWinner">

      </div>
      <span class="champion"></span>
    </div>
    <div class="sideTwo">
      <div class="matchOne">

      </div>
      <span class="playerOne">{{ vm.tourney.matches[2].player1.nickname }}</span>
      <span class="playerTwo">{{ vm.tourney.matches[2].player2.nickname }}</span>
      <div class="matchTwo">

      </div>
      <span class="playerThree">{{ vm.tourney.matches[3].player1.nickname }}</span>
      <span class="playerFour">{{ vm.tourney.matches[3].player2.nickname }}</span>
      <div class="matchThree">

      </div>
      <span class="matchOneWinner">{{ vm.tourney.matches[5].player1.nickname }}</span>
      <span class="matchTwoWinner">{{ vm.tourney.matches[5].player2.nickname }}</span>
      <div class="sideWinner">

      </div>
      <span class="matchThreeWinner">{{ vm.tourney.matches[6].player2.nickname }}</span>
    </div>
  </div>


  <div class="bracketOfSixteen" ng-show="vm.tourney.size == 16">
    <div class="sideOne">
      <div class="matchOne">

      </div>
      <span class="playerOne">{{ vm.tourney.matches[0].player1.nickname }}</span>
      <span class="playerTwo">{{ vm.tourney.matches[0].player2.nickname }}</span>
      <div class="matchTwo">

      </div>
      <span class="playerThree">{{ vm.tourney.matches[1].player1.nickname }}</span>
      <span class="playerFour">{{ vm.tourney.matches[1].player2.nickname }}</span>
      <div class="matchThree">

      </div>
      <span class="playerFive">{{ vm.tourney.matches[2].player1.nickname }}</span>
      <span class="playerSix">{{ vm.tourney.matches[2].player2.nickname }}</span>
      <div class="matchFour">

      </div>
      <span class="playerSeven">{{ vm.tourney.matches[3].player1.nickname }}</span>
      <span class="playerEight">{{ vm.tourney.matches[3].player2.nickname }}</span>
      <div class="matchFive">

      </div>
      <span class="matchOneWinner">{{ vm.tourney.matches[8].player1.nickname }}</span>
      <span class="matchTwoWinner">{{ vm.tourney.matches[8].player2.nickname }}</span>
      <div class="matchSix">

      </div>
      <span class="matchThreeWinner">{{ vm.tourney.matches[9].player1.nickname }}</span>
      <span class="matchFourWinner">{{ vm.tourney.matches[9].player2.nickname }}</span>
      <div class="matchSeven">

      </div>
      <span class="matchFiveWinner">{{ vm.tourney.matches[10].player1.nickname }}</span>
      <span class="matchSixWinner">{{ vm.tourney.matches[10].player2.nickname }}</span>
      <div class="sideWinner">

      </div>
      <span class="matchSevenWinner">{{ vm.tourney.matches[14].player1.nickname }}</span>
    </div>
    <div class="winner">
      <div class="tourneyWinner">

      </div>
      <span class="champion"></span>
    </div>
    <div class="sideTwo">
      <div class="matchOne">

      </div>
      <span class="playerOne">{{ vm.tourney.matches[4].player1.nickname }}</span>
      <span class="playerTwo">{{ vm.tourney.matches[4].player2.nickname }}</span>
      <div class="matchTwo">

      </div>
      <span class="playerThree">{{ vm.tourney.matches[5].player1.nickname }}</span>
      <span class="playerFour">{{ vm.tourney.matches[5].player2.nickname }}</span>
      <div class="matchThree">

      </div>
      <span class="playerFive">{{ vm.tourney.matches[6].player1.nickname }}</span>
      <span class="playerSix">{{ vm.tourney.matches[6].player2.nickname }}</span>
      <div class="matchFour">

      </div>
      <span class="playerSeven">{{ vm.tourney.matches[7].player1.nickname }}</span>
      <span class="playerEight">{{ vm.tourney.matches[7].player2.nickname }}</span>
      <div class="matchFive">

      </div>
      <span class="matchOneWinner">{{ vm.tourney.matches[11].player1.nickname }}</span>
      <span class="matchTwoWinner">{{ vm.tourney.matches[11].player2.nickname }}</span>
      <div class="matchSix">

      </div>
      <span class="matchThreeWinner">{{ vm.tourney.matches[12].player1.nickname }}</span>
      <span class="matchFourWinner">{{ vm.tourney.matches[12].player2.nickname }}</span>
      <div class="matchSeven">

      </div>
      <span class="matchFiveWinner">{{ vm.tourney.matches[13].player1.nickname }}</span>
      <span class="matchSixWinner">{{ vm.tourney.matches[13].player2.nickname }}</span>
      <div class="sideWinner">

      </div>
      <span class="matchSevenWinner">{{ vm.tourney.matches[14].player2.nickname }}</span>
    </div>
  </div>
</div>
