<div class="liveTourneyView">
  <div class="bracketOfEight">
    <div class="sideOne">
      <div class="matchOne">

      </div>
      <span class="playerOne"></span>
      <span class="playerTwo"></span>
      <div class="matchTwo">

      </div>
      <span class="playerThree"></span>
      <span class="playerFour"></span>
      <div class="matchThree">

      </div>
      <span class="matchOneWinner"></span>
      <span class="matchTwoWinner"></span>
      <div class="sideWinner">

      </div>
      <span class="matchThreeWinner"></span>
    </div>
    <div class="winner">
      <div class="tourneyWinner">

      </div>
      <span class="champion"></span>
    </div>
    <div class="sideTwo">
      <div class="matchOne">

      </div>
      <span class="playerOne"></span>
      <span class="playerTwo"></span>
      <div class="matchTwo">

      </div>
      <span class="playerThree"></span>
      <span class="playerFour"></span>
      <div class="matchThree">

      </div>
      <span class="matchOneWinner"></span>
      <span class="matchTwoWinner"></span>
      <div class="sideWinner">

      </div>
      <span class="matchThreeWinner"></span>
    </div>
  </div>


  <div class="bracketOfSixteen">
    <div class="sideOne">
      <div class="matchOne">

      </div>
      <span class="playerOne"></span>
      <span class="playerTwo"></span>
      <div class="matchTwo">

      </div>
      <span class="playerThree"></span>
      <span class="playerFour"></span>
      <div class="matchThree">

      </div>
      <span class="playerFive"></span>
      <span class="playerSix"></span>
      <div class="matchFour">

      </div>
      <span class="playerSeven"></span>
      <span class="playerEight"></span>
      <div class="matchFive">

      </div>
      <span class="matchOneWinner"></span>
      <span class="matchTwoWinner"></span>
      <div class="matchSix">

      </div>
      <span class="matchThreeWinner"></span>
      <span class="matchFourWinner"></span>
      <div class="matchSeven">

      </div>
      <span class="matchFiveWinner"></span>
      <span class="matchSixWinner"></span>
      <div class="sideWinner">

      </div>
      <span class="matchSevenWinner"></span>
    </div>
    <div class="winner">
      <div class="tourneyWinner">

      </div>
      <span class="champion"></span>
    </div>
    <div class="sideTwo">
      <div class="matchOne">

      </div>
      <span class="playerOne"></span>
      <span class="playerTwo"></span>
      <div class="matchTwo">

      </div>
      <span class="playerThree"></span>
      <span class="playerFour"></span>
      <div class="matchThree">

      </div>
      <span class="playerFive"></span>
      <span class="playerSix"></span>
      <div class="matchFour">

      </div>
      <span class="playerSeven"></span>
      <span class="playerEight"></span>
      <div class="matchFive">

      </div>
      <span class="matchOneWinner"></span>
      <span class="matchTwoWinner"></span>
      <div class="matchSix">

      </div>
      <span class="matchThreeWinner"></span>
      <span class="matchFourWinner"></span>
      <div class="matchSeven">

      </div>
      <span class="matchFiveWinner"></span>
      <span class="matchSixWinner"></span>
      <div class="sideWinner">

      </div>
      <span class="matchSevenWinner"></span>
    </div>
  </div>
</div>
