<div class="sign-up_container">
  <form>
    <div class="input_box">
      <span class="username_placeholder placeholder">Username</span>  <br />
      <input class="username_input input" name="password" type="text" placeholder="" /><br />
      <span class="password_placeholder placeholder">Password</span>  <br />
      <input class="password_input input" name="password" type="password" placeholder="" /><br />
    </div>
    <button class="sign-in_button">Sign-in</button><br />
    <span class="or">Or</span> <br />
    <button class="create-account_button"><a href="">Create Account</a></button>
  </form>
</div>
